# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Production build directories
client/dist/

# Environment variables files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
client/.env
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# System Files
.DS_Store
Thumbs.db
Desktop.ini
